@font-face {
    
font-family: 'Do Hyeon';
    
src: url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.eot');

src: url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.eot?#iefix') format('embedded-opentype'),
        
url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.woff2') format('woff2'),
        
url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.woff') format('woff'),
        
url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.ttf') format('truetype'),
        
url('https://dantealpha.github.io/mwoficial/DoHyeon-Regular.svg#DoHyeon-Regular') format('svg');
    
font-weight: normal;
    
font-style: normal;
}

